.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
/test-results/
/playwright-report/
/playwright/.cache/
.npmrc
yarn.lock
tracing_output/
.logbook
tests-results/
screenshots/


packages/db/zod/*.ts
