{
    "useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
    "semi": true,
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"bracketSameLine": false
			}
		}
    ]
}
