@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './lib/styles/color.css';

.lucide {
	width: 15px;
	height: 15px;
	stroke-width: 1;
}

.lucide * {
	vector-effect: non-scaling-stroke;
}

* {
	border-color: var(--gray-a5);
	min-width: 0;
}


div[data-accent-color] {
	--link-text-decoration-color: var(--accent-a6);

	@supports (color: color-mix(in oklab, white, black)) {
		--link-text-decoration-color: color-mix(in oklab, var(--accent-a6), var(--gray-a6));
	}
}
