@font-face {
	src:
		url('/fonts/RoslindaleExtendedVariable-VF.woff2') format('woff2'),
		url('/fonts/RoslindaleExtendedVariable-VF.woff') format('woff');
	font-family: 'Roslindale';
	font-style: normal;
	font-weight: normal;
}
