/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* @font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
		font-named-instance: 'Regular';
		src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
	}
	@font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: italic;
		font-named-instance: 'Italic';
		src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
	} */
	:root {
		color-scheme: light dark;
		--sidebar-width: theme('spacing.60');
		--sidebar-offset: calc(-1 * var(--sidebar-width));
	}
	/* [id] {
		scroll-margin-top: 2ex;
	} */
}
