/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light dark;
		--sidebar-width: theme('spacing.60');
		--sidebar-offset: calc(-1 * var(--sidebar-width));
		--entry-bg-color: theme('colors.white');
	}
	html {
		text-rendering: optimizeLegibility;
	}
	/* [id] {
		scroll-margin-top: 2ex;
	} */
}
