@import './tokens/base.css';
@import '../components/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	* {
		/* TODO: make this more specific */
		@apply border-gold-6 dark:border-golddark-6;
	}
	body {
		@apply bg-sand-1 dark:bg-sanddark-1 text-sand-12 dark:text-sanddark-12;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}

@layer utilities {
	@keyframes fadeInDown {
		from {
			opacity: 0;
			transform: translateY(-20px);
		}
		to {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	/* camel case to differentiate from tailwind animate plugin */
	.fadeInDown {
		animation: fadeInDown 1s forwards;
		opacity: 0;
	}

	.fadeIn {
		animation: fadeIn 1s forwards;
		opacity: 0;
	}

	.animation-delay-1 {
		animation-delay: 200ms;
	}
	.animation-delay-2 {
		animation-delay: 500ms;
	}
	.animation-delay-3 {
		animation-delay: 700ms;
	}
	.animation-delay-4 {
		animation-delay: 1000ms;
	}
	.animation-delay-5 {
		animation-delay: 1200ms;
	}
}
